{% extends 'base.html' %}
{% load static %}
{% block title %}CICD{% endblock %}
{% block css %}{% endblock %}
{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        SonarQube
        <small>代码质量检测</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-pie-chart"></i> sonarqube</a></li>
        <li class="active">代码质量检测</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

<!DOCTYPE HTML>
<html>
    <iframe src="http://202.75.221.10:20019/sonarqube" height="800" width="1200" frameborder="0">
    </iframe>
</html>

{% endblock %}
