{% extends 'base.html' %}
{% load static %}
{% block title %}Skywalking链路监控{% endblock %}
{% block css %}{% endblock %}
{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Skywalking
        <small>skywalking</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-pie-chart"></i> skywalking</a></li>
        <li class="active">监控面板</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

<!DOCTYPE HTML>
<html>
    <iframe src="http://skywalking.ops.morebit.com.cn/trace" height="800" width="1200" frameborder="0">
    </iframe>
</html>

{% endblock %}
